<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <img src="/img/icon.png" alt="Icon" class="logo">
        <a href="/" class="button">Home</a>
        <a href="/add" class="button">Add Task</a>
      </nav>
    </header>


    <main>
      {{{body}}}
    </main>
  </div>
</body>
</html>